body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h4 {
	border-bottom: 1px solid #CBCBCB;
}

footer {
	background-color: #F2F3F4;
	clear: both;
	overflow: hidden;
}

/*============================================================================================
 Estilos de .main-nav
==============================================================================================*/

.main-nav {
	background-color: #e1e1e1;
	overflow: hidden;
}

.main-nav ul {
	margin: 0;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	list-style: none;
	padding: 1%;
}

.main-nav li:hover {
	background-color: #cbcbcb;
}

.main-nav a {
	color: #4b4b4b;
	margin: 0 auto;
	max-width: 1400px;
	text-decoration: none;
	text-transform: uppercase;
}

/*=============================================================================================
 Estilos de .banner-hotel
==============================================================================================*/

.banner-hotel {
	background: url(../imgs/banner.jpg) no-repeat;
	background-size: cover;
	height: 51em;
	overflow: hidden;
}

.info-banner {
	color: #FFF;
	margin: 22% 0 0 13%
}

.info-banner h1 {
	font-size: 4.3rem;
	margin-bottom: 0;
	text-shadow: 4px 4px 17px rgba(0, 0, 0, 1);
}

.info-banner p {
	font-size: 1.5rem;
	text-shadow: 4px 4px 17px rgba(0, 0, 0, 1);
}

/*==============================================================================================
 Estilos de .hotel-description
==============================================================================================*/

.hotel-description {
	background-color: #ccc;
	overflow: hidden;
}

.hotel-description-content {
	margin: 0 auto;
	margin-top: 41px;
	max-width: 1400px;
}

.hotel-description-content p {
	float: left;
	width: 71%;
}

.more-about{
	background-color: #418DBA;
	color: #FFF;
	display: block;
	float: right;
	margin: 2% 6% 0 0;
	padding: 2%;
}

.hotel-description-nav {
	clear: both;
}

.hotel-description-nav ul {
	background-color: #E1E1E1;
	padding: 2%;
}

.hotel-description-nav li {
    display: inline-block;
}

.description-list li {
	background-color: #418DBA;
	border-radius: 26px;
	margin: 0 7%;
    padding: 2%;
    text-align: center;
}

.description-list a {
	color: #FFF;
}

/*==============================================================================================
 Estilos de .localization-hotel
==============================================================================================*/

.localization-hotel {
	margin: 0 auto;
	max-width: 1400px;
	text-align: center;
	padding: 5rem 0;
	border-bottom: 1px solid #CBCBCB;
}

.localization-hotel a {
	color: #57AAC6;
}

.localization-hotel a:after {
	color: #57AAC6;
	content: ">";
}

.img {
	background-color: #808080;
	height: 9rem;
	margin-bottom: 60px;
	width: 15%;
}

/*==============================================================================================
 Estilos de .news-hotel
==============================================================================================*/

.hotel-info {
	margin: 0 auto;
	max-width: 1400px;
}

.hotel-info a {
	color: #367989; 
}

.hotel-info a:after {
	color: #367989;
	content: ">";
	padding: 0.5%;
}

.tittle {
	color: #367989; 
	font-size: 1.1rem;
}

.news-hotel {
	float: left;
	text-align: justify;
	width: 37%;
}

.news-hotel article {
	border-bottom: 1px solid #CBCBCB;
	padding-bottom: 17px
}

.all-news {
	float: right;
	padding: 15px 0;
	width: 33%;
}

.events-hotel {
	float: left;
	margin: 0 3%;
	width: 34%;
}

.events-hotel article {
	border-bottom: 1px solid #CBCBCB;
	padding-bottom: 17px;
}

.booking-hotel {
	float: left;
	width: 23%;
}

.booking-hotel a {
	background-color: #418DBA;
	color: #FFF;
	padding: 3% 7%;
}

.booking-hotel a:after {
	content: ">";
	color: #FFF;
	padding: 0.5%;
}

/*==============================================================================================
 Estilos de footer
==============================================================================================*/

.contact {
	margin: 0 auto;
	max-width: 1400px;
	padding-top: 2.5%; 
}

.contact p {
	float: left;
}

.footer-nav {
	float: left;
	margin-left: 13%;
}

.footer-nav-items li {
	list-style: none;
}

.footer-nav-items a {
	color: #5B87B7;
}

.contact-info {
	float: right;
}

.contact-info span {
	font-size: 1.4rem;
	margin-left: 9%;
}

.contact-info li {
	list-style: none;
}



























